/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f3f4f6;
    color: #333;
}

header {
    background-color: #ffffff;
    padding: 15px 0;
    border-bottom: 2px solid #A2C837;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    max-width: 300px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover, nav ul li a.active {
    color: #A2C837;
}

/* Services Section*/
.services {
    padding: 60px 20px;
    background: #ffffff;
    text-align: center;
}

.services h1 {
    font-size: 48px;
    font-weight: 700;
    color: #A2C837;
    margin-bottom: 20px;
}

.services p {
    font-size: 18px;
    color: #555;
    margin-bottom: 50px;
}

.service-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
}

.service-item {
    max-width: 300px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service-item img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.service-item h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

.service-item p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}


/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 20px;
    font-size: 14px;
    border-top: 3px solid #A2C837;
}
